ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 0;
}

#messageFormLink {
    font-weight: bold;
    font-size: 30px;
    color: #F2F2F2;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

#loginFormLink {
    font-size: 25px;
    color: #F2F2F2;
    margin-left: 20px;
}

body {
    background-color: #263238;
    color: #F2F2F2;
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    font-size: 20px
}

#newMessageForm input {
    width: 70%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2;
    color: #263238;
}

#newMessageForm textarea {
    width: 70%;
    height: 100px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2;
    color: #263238;
}

#submitBtn {
    width: 30%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2;
    font-weight: bold;
    color: #263238;
    font-size: 20px;
    cursor: pointer;
}

#loginForm input {
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #F2F2F2;
    color: #263238;
}

#loginBtn {
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}

#regLink {
    color: #F2F2F2;
}

#infoAfterLogin * {
    display: inline-block;

}

#infoAfterLogin button {
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

#infoAfterLogin {
    display: none
}